.App {
  text-align: center;
  margin-top: 50px;
}
/* // Simple Scroll */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, .9);
}


.tiktoklogo {
  font-size: 50px;
  position: relative;
  color: #00fff8;
}
.tiktoklogo .tiktokicon:last-child {
  mix-blend-mode: multiply;
  color: #ff003b;
  position: absolute;
  left: 2px;
  top: 5px;
}

.footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  line-height: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  //add linear gradeint background 
  background: linear-gradient(180deg, #252e69 0%, #29358f 100%);
  color: #fff;
  margin-bottom: -200px;
}



.HomepageContainer {
   // transition: all .5s;
   background: linear-gradient(180deg, #6f0bfb 0%, #962fee 100%);

  //set svg background photo from assets folder bg.svg
 // background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  //background-size: 100%;
  //set backgorund height to fit the screen 
 // height: 100vh;
  width: 100%;
position: absolute;
background-size: cover;
padding-top: 40px;
}


h2 {
  font-weight: 200;
  font-size: 27px;
padding:0px 10px;
}
h1 {
  font-size: 40px;
  padding:0px 10px;

}

.glasscard {
  /* From https://css.glass */
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.995), rgba(255, 255, 255, 0.696), rgba(255, 255, 255, 0.741));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  //backdrop-filter: blur(7px);
  //-webkit-backdrop-filter: blur(7px);
  border: 1px solid #1976d2;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 13px;
  width: 70%;
   border-radius: 5px
}


@media (max-width: 600px){
  .NavbarLogo{
    position: absolute;
  }
}

.ProgressLoader{
  width: 170px;
  /* height: 170px; */
  margin: 0px auto;
  margin-inline: 10px;
 // background: rgba(245, 245, 245, 0.911);
  padding: 10px;
  border-radius: 10px;
}

.SingleProgressContainer{
  display: flex;
    justify-content: center;
    margin-bottom: -360px;
    margin-top: 167px;
}

.FaqAccordion {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.995), rgba(255, 255, 255, 0.696), rgba(255, 255, 255, 0.741));
  //background: linear-gradient(45deg, #dbc1ff 0%, rgba(238, 47, 212, 0.61) 100%);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}