.App {
  text-align: center;
}

.tiktoklogo {
  font-size: 50px;
  position: relative;
  color: #00fff8;
}
.tiktoklogo .tiktokicon:last-child {
  mix-blend-mode: multiply;
  color: #ff003b;
  position: absolute;
  left: 2px;
  top: 5px;
}